# {{ ansible_managed }}
http:
  address: 127.0.0.1
  port: 9001
  alerts-path-prefix: /alerts
  metrics-path: /metrics
  metrics-enabled: true

matrix:
  homeserver-url: {{ homeserver_url }}
  user-id: "{{ user_id }}"
  access-token: "{{ access_token }}"
  room-mapping:
    alerts: "{{ alerts_room }}"

templating:
  computed-values:
    - values:
        color: yellow
    - values:
        color: orange
      when-matching-labels:
        severity: warning
    - values:
        color: red
      when-matching-labels:
        severity: critical
    - values:
        color: green
      when-matching-status: resolved

{% raw %}  firing-template: '
    <p>
      <strong><font color="{{ .ComputedValues.color }}">{{ .Alert.Status | ToUpper }}</font></strong>
      {{ if .Alert.Labels.alertname }}
        {{ .Alert.Labels.alertname }}
      {{ end }}
      >>
      {{ if .Alert.Labels.severity }}
        {{ .Alert.Labels.severity | ToUpper }}: 
      {{ end }}
      {{ if .Alert.Annotations.summary }}
        {{ .Alert.Annotations.summary }}
      {{ end }}
      >>
      <a href="{{ .SilenceURL }}">Silence</a>
    </p>'

  resolved-template: '
    <strong><font color="{{ .ComputedValues.color }}">{{ .Alert.Status | ToUpper }}</font></strong>{{ .Alert.Labels.alertname }}'
{% endraw %}
